<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.employeeapi.Utilities.Listeners" />
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.employeeapi.testCases.Get_All_Employees"/>
      <class name="com.employeeapi.testCases.Get_Single_Employee_Record"/>
      <class name="com.employeeapi.testCases.Post_Employee_Record"/>
      <class name="com.employeeapi.testCases.Put_Employee_Record"/>
      <class name="com.employeeapi.testCases.Delete_Employee_Record"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
